* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Bold.ttf);
  }

  :root {
    --bg-lightblue: #92cccd;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1 {
    font-family: 'Raleway', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #31343d;
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  ul li {
    font-size: 18px;
    list-style: none;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    background-color: #31343d;
    padding: 10px 20px 10px 0;
  }

  .nav-links {
    display: flex;
  }
  .d-flex-end {
    display: flex;
    justify-content: end;
  }

  .logo-bg {
    align-items: center;
    width: 400px;
    background-color: var(--bg-lightblue);
    padding-right: 15px;
  }

  .hero-banner {
    background-image: url(../images/02-hero-bg.jpg);
    align-items: end;
    height: 150px;
  }

  .hero-subtitle {
    align-items: center;
    background-color: var(--bg-lightblue);
    padding: 0 10px 0 10px;
  }

  .page-section {
    display: flex;
  }

  .section-title {
    border-right: 3px solid #000;
    width: 30%;
  }

  .title-break {
    max-width: min-content;
    align-items: end;
  }